.previousPage {
  font-size:var(--font-size-tertiary);
  align-items:center;
  display:flex;
  position:relative;
  text-align:left;
  color:var(--text-secondary);
}

.pages {
  font-size:var(--font-size-primary);
  text-decoration:none;
  width:100%;
}

.nonClickable {
  text-decoration:none;
  width:100%;
  color:#fff;
}

.nonClickable:hover {
  cursor:url('/assets/images/cursor-pointer.png') 10 0,auto;
}

.invertCursor .nonClickable:hover {
  cursor:url('/assets/images/cursor-pointer-filled.png') 10 0,auto;
}

.hiddenImg {
  display:none;
}

.hiddenTxt:hover ~ .hiddenImg {
  display:block;
  position:absolute;
  z-index:50;
  margin-left:30vw;
}

.clickable {
  text-decoration:none;
  width:100%;
  color:#fff;
}

.clickable:hover {
  cursor:url('/assets/images/cursor-pointer.png') 10 0,auto;
}

.invertCursor .clickable:hover {
  cursor:url('/assets/images/cursor-pointer-filled.png') 10 0,auto;
}


.blog::after {
  content:"BLOG";
}

.blog:hover::after {
  content:"8L06";
}


.cc::after {
  content:"CC";
}

.cc:hover::after {
  content:"CC";
}


.certifications::after {
  content:"CERTIFICATIONS";
}

.certifications:hover::after {
  content:"C3R71F1C4710N5";
}


.cipher::after {
  content:"D|CIPHER";
}

.cipher:hover::after {
  content:"D/C1PH3R";
}


.cnsp::after {
  content:"CNSP";
}

.cnsp:hover::after {
  content:"CN59";
}


.company1::after {
  content:"CYBER SECURED INDIA";
}

.company1:hover::after {
  content:"CY83R 53CUR3D 1ND14";
}


.company2::after {
  content:"COMPANY2";
}

.company2:hover::after {
  content:"C0MP4NY2";
}


.cves::after {
  content:"CVES";
}

.cves:hover::after {
  content:"CV35";
}


.ejpt::after {
  content:"EJPT";
}

.ejpt:hover::after {
  content:"3J97";
}


.email::after {
  content:"EMAIL";
}

.email:hover::after {
  content:"3M41L";
}


.empower::after {
  content:"EMPOWERSHELL";
}

.empower:hover::after {
  content:"3M90W3R5H3LL";
}


.experience::after {
  content:"EXPERIENCE";
}

.experience:hover::after {
  content:"3XP3R13NC3";
}


.github::after {
  content:"GITHUB";
}

.github:hover::after {
  content:"617HU8";
}


.google::after {
  content:"GCP";
}

.google:hover::after {
  content:"6C9";
}


.hackerOne::after {
  content:"HACKERONE";
}

.hackerOne:hover::after {
  content:"H4CK3R0N3";
}


.hack-the-box::after {
  content:"HACKTHEBOX";
}

.hack-the-box:hover::after {
  content:"H4CK7H380X";
}


.hexplorer::after {
  content:"HEXPLORER";
}

.hexplorer:hover::after {
  content:"H3X9L0R3R";
}


.home::after {
  content:"HOME";
}

.home:hover::after {
  content:"H0M3";
}


.huntr::after {
  content:"HUNTR";
}

.huntr:hover::after {
  content:"HUN7R";
}


.icca::after {
  content:"ICCA";
}

.icca:hover::after {
  content:"1CC4";
}


.intigriti::after {
  content:"INTIGRITI";
}

.intigriti:hover::after {
  content:"1N716R171";
}


.key::after {
  content:"PGP KEY";
}

.key:hover::after {
  content:"969 K3Y";
}


.knign::after {
  content:"KNIGN";
}

.knign:hover::after {
  content:"KN16N";
}


.kryptos::after {
  content:"KRYPTOS";
}

.kryptos:hover::after {
  content:"KRY9705";
}


.kunal::after {
  content:"KUNAL WALAVALKAR";
}

.kunal:hover::after {
  content:"KUN4L W4L4V4LK4R";
}


.linkedin::after {
  content:"LINKEDIN";
}

.linkedin:hover::after {
  content:"L1NK3D1N";
}


.netSleuth::after {
  content:"NETSLEUTH";
}

.netSleuth:hover::after {
  content:"N375L3U7H";
}


.notes::after {
  content:"NOTES";
}

.notes:hover::after {
  content:"N0735";
}


.nse1::after {
  content:"NSE 1";
}

.nse1:hover::after {
  content:"N53 1";
}


.ossoc::after {
  content:"O.S.S.O.C.";
}

.ossoc:hover::after {
  content:"0.5.5.0.C.";
}


.pnpt::after {
  content:"PNPT";
}

.pnpt:hover::after {
  content:"PNP7";
}


.probe::after {
  content:"PROBE";
}

.probe:hover::after {
  content:"9R083";
}


.projects::after {
  content:"PROJECTS";
}

.projects:hover::after {
  content:"9R0J3C75";
}


.reports::after {
  content:"REPORTS";
}

.reports:hover::after {
  content:"R390R75";
}


.resume::after {
  content:"RESUME";
}

.resume:hover::after {
  content:"R35UM3";
}


.riskore::after {
  content:"RISKORE";
}

.riskore:hover::after {
  content:"R15K0R3";
}


.signum::after {
  content:"SIGNUM";
}

.signum:hover::after {
  content:"516NUM";
}


.security-plus::after {
  content:"SECURITY+";
}

.security-plus:hover::after {
  content:"53CUR17Y+";
}


.try-hack-me::after {
  content:"TRYHACKME";
}

.try-hack-me:hover::after {
  content:"7RYH4CKM3";
}


.write-ups::after {
  content:"WRITE-UPS";
}

.write-ups:hover::after {
  content:"WR173-U95";
}

.zero {
  font-size: var(--font-size-quad);
  text-decoration: none;
	width: 100%;
}

.zero::after {
  content:"0";
}

.zero:hover::after {
  content:"0";
}





.passward::after {
  content:"PASSWARD";
}

.passward:hover::after {
  content:"P455W4RD";
}

.pyrefox::after {
  content:"PYREFOX";
}

.pyrefox:hover::after {
  content:"PYR3F0X";
}

.steghound::after {
  content:"STEGHOUND";
}

.steghound:hover::after {
  content:"5736H0UND";
}

.suiteBox::after {
  content:"SUITEBOX";
}

.suiteBox:hover::after {
  content:"5U17380X";
}
