.invert {
	filter: invert(100%);
}

.invertedScanLine {
	width: 100%;
	height: 120%;
	z-index: 8;
	background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.75) 5%, rgba(255, 255, 255, 0) 11.5%);
	opacity: 0.75;
	position: absolute;
	bottom: 100%;
	pointer-events: none;
	animation: scanLine 10s linear infinite;
}

.invertedEffectGlitch {
	filter: invert(100%);
	position: fixed;
	background-image: url('/assets/gifs/effect-artifacts.gif');
	height: 120%;
	width: 100%;
	background-size: cover;
	opacity: 0.6;
	z-index: -12;
}

.invertedEffectNoise {
	filter: grayscale(100%);
	position: fixed;
	background-image: url('/assets/gifs/effect-static.gif');
	height: 120%;
	width: 100%;
	background-size: cover;
	opacity: 0.15;
	z-index: -12;
}

.invertedBackgroundLines { 
	height: 120%;
	content: ' ';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(rgba(255, 255, 255, 0.65) 50%, rgba(255, 255, 255, 0.675) 50%);
/* 		linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.03), rgba(0, 0, 255, 0.06));  */
	z-index: 2000;
	background-size: 100% 12.5px, 4px 100%;
	pointer-events: none;
}
	
header {
	height: 25svh;
	padding-bottom: 10svh;
}

html { 
	scroll-behavior: smooth;
}

:root {
	--text-primary: #fff;  	
	--text-secondary: #909090;
/* 	--shadow-x-distance: 4px; */
/*   	--shadow-y-distance: 3px; */
	--shadow-x-distance: 6px;
	--shadow-y-distance: 0px;
	--font-primary: "VCR OSD Mono",monospace;
/*  	--font-size-primary: clamp(24px,4.2vw,84px);
	--font-size-secondary: clamp(16px,1.6vw,32px);
	--font-size-tertiary: clamp(20px,2.2vw,52px);  */
	
    	--font-size-primary: clamp(24px, 4.2vw, 84px);
	--font-size-secondary: clamp(16px, 1.6vw, 44px);
	--font-size-tertiary: clamp(20px,2vw,52px);
}

body .invertCursor{
	cursor: url('/assets/images/cursor-default-filled.png') 0 0, auto;
} 

body {
	background-color: rgba(0, 0, 0, 0.975);
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 12.5svh;
	margin-bottom: 12.5svh;
	font-family: vcr, monospace;
	animation: textShadow 1.6s infinite;
	text-shadow: 
	/* Red and Blue	 */
/* 		var(--shadow-x-distance) var(--shadow-y-distance) 0 rgb(30,120,180,.5),
		calc(var(--shadow-x-distance)*-1) calc(var(--shadow-y-distance)*-1) 0 rgba(135,22.5,90,.5); */

	/* Ghosting effect */
/* 		var(--shadow-x-distance) 0px 0.08svh rgb(90,90,90,0.2),
		calc(var(--shadow-x-distance)*1.5) 0px 0.08svh rgb(80,80,80,0.2),
		calc(var(--shadow-x-distance)*2) 0px 0.08svh rgb(70,70,70,0.2),
		calc(var(--shadow-x-distance)*2.5) 0px 0.08svh rgb(60,60,60,0.2),
		calc(var(--shadow-x-distance)*3) 0px 0.08svh rgb(50,50,50,0.2),
		calc(var(--shadow-x-distance)*3.5) 0px 0.08svh rgb(40,40,40,0.2),
		calc(var(--shadow-x-distance)*4) 0px 0.08svh rgb(30,30,30,0.2); */

		var(--shadow-x-distance) 0px 0.08svh rgb(110,110,110,0.2),
/* 		calc(var(--shadow-x-distance)*1.5) 0px 0.08svh rgb(80,80,80,0.2), */
		calc(var(--shadow-x-distance)*2) 0px 0.08svh rgb(90,90,90,0.2),
/* 		calc(var(--shadow-x-distance)*2.5) 0px 0.08svh rgb(60,60,60,0.2), */
		calc(var(--shadow-x-distance)*3) 0px 0.08svh rgb(70,70,70,0.2),
/* 		calc(var(--shadow-x-distance)*3.5) 0px 0.08svh rgb(40,40,40,0.2), */
		calc(var(--shadow-x-distance)*4) 0px 0.08svh rgb(50,50,50,0.2);
	
/* 
		calc(var(--shadow-x-distance)*2) 0px 0.08svh rgb(120,120,120,0.2),
		calc(var(--shadow-x-distance)*4) 0px 0.08svh rgb(80,80,80,0.2); */


/* 	text-shadow: var(--shadow-x-distance) var(--shadow-y-distance) 1.5px rgb(90,90,90,0.5); */
	cursor: url('/assets/images/cursor-default.png') 0 0, auto;
}

.capital {
	line-height: 1.4;
	display: block;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: 400;
}

p {
	margin-block-start: 0em;
    	margin-block-end: 0em;
}

@font-face {
	font-family: 'VCR';
	src: url('/assets/fonts/VCROSDMono.woff') format('woff');
}

.layers {
  position: relative;
}

.layers::before,
.layers::after {
  content: attr(data-text);
  position: absolute;
  width: 110%;
  z-index: -1;
}

.layers::before {
  top: 0.45vw;
  left: 0.65vw;
/*   color: rgba(0,160,190,1); */
  color: #ddd;
}

.layers::after {
  top: 0.2vw;
  left: -0.45vw;
/*   color: rgba(170,0,40,1); */
  color: #ddd;
}

.single-path {
  clip-path: polygon(
    0% 12%,
    53% 12%,
    53% 26%,
    25% 26%,
    25% 86%,
    31% 86%,
    31% 0%,
    53% 0%,
    53% 84%,
    92% 84%,
    92% 82%,
    70% 82%,
    70% 29%,
    78% 29%,
    78% 65%,
    69% 65%,
    69% 66%,
    77% 66%,
    77% 45%,
    85% 45%,
    85% 26%,
    97% 26%,
    97% 28%,
    84% 28%,
    84% 34%,
    54% 34%,
    54% 89%,
    30% 89%,
    30% 58%,
    83% 58%,
    83% 5%,
    68% 5%,
    68% 36%,
    62% 36%,
    62% 1%,
    12% 1%,
    12% 34%,
    60% 34%,
    60% 57%,
    98% 57%,
    98% 83%,
    1% 83%,
    1% 53%,
    91% 53%,
    91% 84%,
    8% 84%,
    8% 83%,
    4% 83%
  );
}

.paths {
  animation: paths 5s step-end infinite;
}

@keyframes paths {
  0% {
    clip-path: polygon(
      0% 43%,
      83% 43%,
      83% 22%,
      23% 22%,
      23% 24%,
      91% 24%,
      91% 26%,
      18% 26%,
      18% 83%,
      29% 83%,
      29% 17%,
      41% 17%,
      41% 39%,
      18% 39%,
      18% 82%,
      54% 82%,
      54% 88%,
      19% 88%,
      19% 4%,
      39% 4%,
      39% 14%,
      76% 14%,
      76% 52%,
      23% 52%,
      23% 35%,
      19% 35%,
      19% 8%,
      36% 8%,
      36% 31%,
      73% 31%,
      73% 16%,
      1% 16%,
      1% 56%,
      50% 56%,
      50% 8%
    );
  }

  5% {
    clip-path: polygon(
      0% 29%,
      44% 29%,
      44% 83%,
      94% 83%,
      94% 56%,
      11% 56%,
      11% 64%,
      94% 64%,
      94% 70%,
      88% 70%,
      88% 32%,
      18% 32%,
      18% 96%,
      10% 96%,
      10% 62%,
      9% 62%,
      9% 84%,
      68% 84%,
      68% 50%,
      52% 50%,
      52% 55%,
      35% 55%,
      35% 87%,
      25% 87%,
      25% 39%,
      15% 39%,
      15% 88%,
      52% 88%
    );
  }

  30% {
    clip-path: polygon(
      0% 53%,
      93% 53%,
      93% 62%,
      68% 62%,
      68% 37%,
      97% 37%,
      97% 89%,
      13% 89%,
      13% 45%,
      51% 45%,
      51% 88%,
      17% 88%,
      17% 54%,
      81% 54%,
      81% 75%,
      79% 75%,
      79% 76%,
      38% 76%,
      38% 28%,
      61% 28%,
      61% 12%,
      55% 12%,
      55% 62%,
      68% 62%,
      68% 51%,
      0% 51%,
      0% 92%,
      63% 92%,
      63% 4%,
      65% 4%
    );
  }

  45% {
    clip-path: polygon(
      0% 33%,
      2% 33%,
      2% 69%,
      58% 69%,
      58% 94%,
      55% 94%,
      55% 25%,
      33% 25%,
      33% 85%,
      16% 85%,
      16% 19%,
      5% 19%,
      5% 20%,
      79% 20%,
      79% 96%,
      93% 96%,
      93% 50%,
      5% 50%,
      5% 74%,
      55% 74%,
      55% 57%,
      96% 57%,
      96% 59%,
      87% 59%,
      87% 65%,
      82% 65%,
      82% 39%,
      63% 39%,
      63% 92%,
      4% 92%,
      4% 36%,
      24% 36%,
      24% 70%,
      1% 70%,
      1% 43%,
      15% 43%,
      15% 28%,
      23% 28%,
      23% 71%,
      90% 71%,
      90% 86%,
      97% 86%,
      97% 1%,
      60% 1%,
      60% 67%,
      71% 67%,
      71% 91%,
      17% 91%,
      17% 14%,
      39% 14%,
      39% 30%,
      58% 30%,
      58% 11%,
      52% 11%,
      52% 83%,
      68% 83%
    );
  }

  76% {
    clip-path: polygon(
      0% 26%,
      15% 26%,
      15% 73%,
      72% 73%,
      72% 70%,
      77% 70%,
      77% 75%,
      8% 75%,
      8% 42%,
      4% 42%,
      4% 61%,
      17% 61%,
      17% 12%,
      26% 12%,
      26% 63%,
      73% 63%,
      73% 43%,
      90% 43%,
      90% 67%,
      50% 67%,
      50% 41%,
      42% 41%,
      42% 46%,
      50% 46%,
      50% 84%,
      96% 84%,
      96% 78%,
      49% 78%,
      49% 25%,
      63% 25%,
      63% 14%
    );
  }

  90% {
    clip-path: polygon(
      0% 41%,
      13% 41%,
      13% 6%,
      87% 6%,
      87% 93%,
      10% 93%,
      10% 13%,
      89% 13%,
      89% 6%,
      3% 6%,
      3% 8%,
      16% 8%,
      16% 79%,
      0% 79%,
      0% 99%,
      92% 99%,
      92% 90%,
      5% 90%,
      5% 60%,
      0% 60%,
      0% 48%,
      89% 48%,
      89% 13%,
      80% 13%,
      80% 43%,
      95% 43%,
      95% 19%,
      80% 19%,
      80% 85%,
      38% 85%,
      38% 62%
    );
  }

  1%,
  7%,
  33%,
  47%,
  78%,
  93% {
    clip-path: none;
  }
}

.movement {
  position: relative;
  animation: movement 8s step-end infinite;
}

@keyframes movement {
  0% {
    top: 0vw;
    left: -0.8vw;
  }

  15% {
    top: 0.45vw;
    left: 0.45vw;
  }

  60% {
    top: 0.2vw;
    left: -0.45vw;
  }

  75% {
    top: -0.2vw;
    left: 0.8vw;
  }

  100% {
    top: 0.45vw;
    left: 0.2vw;
  }
}

.opacity {
  animation: opacity 5s step-end infinite;
}

@keyframes opacity {
  0% {
    opacity: 0.1;
  }

  5% {
    opacity: 0.7;
  }

  30% {
    opacity: 0.4;
  }

  45% {
    opacity: 0.6;
  }

  76% {
    opacity: 0.4;
  }

  90% {
    opacity: 0.8;
  }

  1%,
  7%,
  33%,
  47%,
  78%,
  93% {
    opacity: 0;
  }
}

.font {
  animation: font 7s step-end infinite;
}

@keyframes font {
  0% {
    font-weight: 400;
    color: #ccc;
/*     color: rgba(170,0,40,.45); */
    filter: blur(2px);
  }

  20% {
    font-weight: 400;
    color: #ddd;
    filter: blur(0);
  }

  50% {
    font-weight: 400;
    color: #ccc;
/*     color: rgba(0,160,190,.45); */
    filter: blur(1.5px);
  }

  60% {
    font-weight: 400;
    color: #ddd;
    filter: blur(0);
  }

  90% {
    font-weight: 400;
    color: #ccc;
/*     color: rgba(170,0,40,.45); */
    filter: blur(2px);
  }
}

.glitch span {
  animation: paths 5s step-end infinite;
}

.glitch::before {
  animation: paths 5s step-end infinite, opacity 5s step-end infinite,
    font 8s step-end infinite, movement 10s step-end infinite;
}

.glitch::after {
  animation: paths 5s step-end infinite, opacity 5s step-end infinite,
    font 7s step-end infinite, movement 8s step-end infinite;
}

.hero-container {
  position: relative;
  padding: 200px 0;
  text-align: center;
}

.sticky {
	margin-left: -10%;
	z-index: -1;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	background: #ffffff00;
}

@keyframes scanLine {
	0% {
		transform: translate3d(-150%);
	}

	100% {
		transform: translateY(150%);
	}
}

.scanLine {
	width: 100%;
	height: 120%;
	z-index: 8;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.4) 5%, rgba(0, 0, 0, 0) 12%);
	opacity: 0.2;
	position: absolute;
	bottom: 100%;
	pointer-events: none;
	animation: scanLine 10s linear infinite;
}

.effectGlitch {
	position: fixed;
	background-image: url('/assets/gifs/effect-artifacts.gif');
	height: 120%;
	width: 100%;
	background-size: cover;
	opacity: 0.225;
	z-index: -12;
}

.effectNoise {
	filter: grayscale(100%);
	position: fixed;
	background-image: url('/assets/gifs/effect-static.gif');
	height: 120%;
	width: 100%;
	background-size: cover;
	opacity: 0.075;
	z-index: -12;
}

.gradient {
 	top: 0%;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: -11;
	background: radial-gradient(circle, rgb(0, 0, 0, 0.0)70%, rgba(0, 0, 0, 0.95));
}

.backgroundLines {
  	height: 120%;
	content: ' ';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(rgba(0, 0, 0, 0.0) 50%, rgba(0, 0, 0, 0.25) 50%);
/* 		linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.03), rgba(0, 0, 255, 0.06));  */
	z-index: 2000;
	background-size: 100% 12.5px, 4px 100%;
	pointer-events: none;
}

/* .backgroundEffect1 {
	height: 120%;
	display: block;
	position: fixed;
	top: 0;
	  inset: 0px;
	  z-index: 9999;
	  pointer-events: none;
	background-image: linear-gradient(to top, rgba(255, 255, 255, 0.2) 33.3333%, rgba(255, 255, 255, 0.4) 33.3333%, rgba(255, 255, 255, 0.4) 66.6667%, rgba(255, 255, 255, 0.6) 66.6667%), linear-gradient(to right, rgba(255, 0, 0, 0.7) 33.3333%, rgba(0, 255, 0, 0.7) 33.3333%, rgba(0, 255, 0, 0.7) 66.6667%, rgba(0, 0, 255, 0.7) 66.6667%); 
	background-size: 3px 3px;
	  mix-blend-mode: multiply;
	  opacity: 0.5;
} */

.backgroundEffect::after {
  	height: 120%;
	content: ' ';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(16, 16, 16, 0.1);
	opacity: 0;
	z-index: 0;
	pointer-events: none;
	animation: flicker 0.15s infinite;
}

.cursor {
	cursor: url('/assets/images/cursor-default.png') 0 0, auto;
}

.century {
	font-size: 50px;
	color: #d3d3d3;
}

::selection {
	background: var(--text-secondary);
	color: #000;
/* 	text-shadow: -.275vw -.2vw rgba(0,150,180,.45), .275vw .2vw rgba(150,0,50,.45); */
/*	text-shadow: -0.275vw -0.225vw rgba(0, 220, 253, 0.4), 0.275vw 0.225vw rgba(245, 83, 138, 0.4);	*/
}

.spacing {
	z-index: 10;
	margin-bottom: 10svh;
}

.redacted {
	background: var(--text-secondary);
	text-shadow: none;
}

.redacted::selection {
	background: none;
	text-shadow: .275vw .2vw rgba(0,150,180,.45), -.275vw -.2vw rgba(150,0,50,.45);
}

ul {
	margin-block-start: 0em;
    	margin-block-end: 0em;
	display: grid;
  	grid-template-columns: 1fr 1fr;
  	grid-gap: 10svh;
	padding: 0;
}

li {
	margin: 0;
	list-style-type: none;
}

.singleColumnUl {
	grid-template-columns: 1fr;
}

.personal {
	font-size: var(--font-size-primary);
	text-decoration: none;
	width: 100%;
	color: var(--text-secondary);
}

.description {
	z-index: 10;
	line-height: 1.5;
	font-size: var(--font-size-secondary);
	width: 100%;
	color: var(--text-secondary);
}

.profilepic{
	position: absolute;
	visibility: hidden;
   	opacity: 0;
	transition: 0.3s;
  	left: 30%;
}

.kunalWalavalkar:hover .profilepic{
 	visibility: visible;
	opacity: 1;
 }

.profilepic2{
	position: absolute;
	visibility: hidden;
   	opacity: 0;
	transition: 0.3s;
  	left: 25%;
}

.knign:hover .profilepic2{
 	visibility: visible;
	opacity: 1;
 }

.noise::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 120%;
	background: url('/assets/images/background-noise.png');
	animation: 0.2s infinite noise;
	pointer-events: none;
	z-index: 6;
}

@keyframes noise {
	0%,
	100% {
		background-position: 0 0;
	}

	10% {
		background-position: -5% -10%;
	}

	20% {
		background-position: -15% 5%;
	}

	30% {
		background-position: 7% -25%;
	}

	40% {
		background-position: 20% 25%;
	}

	50% {
		background-position: -25% 10%;
	}

	60% {
		background-position: 15% 5%;
	}

	70% {
		background-position: 0% 15%;
	}

	80% {
		background-position: 25% 35%;
	}

	90% {
		background-position: -10% 10%;
	}
}

@media (max-width: 960px) {
	ul {
		grid-gap: 9svh;
	}

	.spacing {
		margin-bottom: 9svh;
	}
}


@media (max-width: 480px) {
	ul {
    		grid-template-columns: 1fr;
		grid-gap: 8svh;
	}

	.spacing {
		margin-bottom: 8svh;
	}
	
	:root {
		--shadow-x-distance: 2px;
		--shadow-y-distance: 1px;
	}
}

@media (min-width: 480px) {
	  :root {
	    	--shadow-x-distance: 3.25px;
	    	--shadow-y-distance: 1.625px;
	  }
}

@media (min-width: 960px) {
	  :root {
		--shadow-x-distance: 4.5px;
		--shadow-y-distance: 2.25px;
	  }
}

@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
