header {
	height: 35svh;
	padding-bottom: 5svh;
}

nav {
	line-height: 1;
	align-items: center;
	display: flex;
	width: 100%;
	text-align: left;
	margin-bottom: 0.4svh;
}

.stickyNav {
	position: sticky;
	top: 12.5svh;
}

.pageOptionUl {
	margin-block-start: 0em;
    	margin-block-end: 0em;
	display: grid;
  	grid-template-columns: 1fr;
  	grid-gap: 0;
	padding: 0;
}

.pageOptionLi {
	font-size:var(--font-size-secondary);
	position:relative;
	text-align:left;
	line-height:1.5;
	color:var(--text-secondary);
}

.slash {
	color: var(--text-secondary);
	font-size: var(--font-size-secondary);
}

.currentPage {
	font-size: var(--font-size-secondary);
	color: var(--text-secondary);
}

@media (max-width: 960px) {
	header {
		height: 32.5svh;
	}
}

@media (max-width: 480px) {
	header {
		height: 30svh;
	}
}
