.footerUl {
	margin-top:20svh;
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-gap:0;
	padding:0;
}

.footerGridInner {
	margin-block-start: 0em;
    	margin-block-end: 0em;
/* 	display: grid;
  	grid-template-columns: 1fr; */
	padding: 0;
}

.footerLi {
	font-size:var(--font-size-secondary);
	position:relative;
	text-align:left;
	color:#a0a0a0;
}

@media (max-width: 960px) {
	.footerUl {
		margin-top:15svh;
		grid-template-columns:1fr 1fr 1fr;
	}
}


@media (max-width: 480px) {
	.footerUl {
		margin-top:12.5svh;
		grid-template-columns:1fr 1fr;
	}
}
